[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
pymongo = "*"
requests = "*"
google-cloud-pubsub = "*"

[dev-packages]

[requires]
python_version = "3.6"
